[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.3.25"
pydantic = "==2.11.4"
streamlit = "==1.45.0"

[dev-packages]
ipykernel = "==6.29.5"
pytest = "==8.3.5"
pre-commit = "==4.2.0"

[requires]
python_version = "3.11"
